[MASTER]
py-version=3.8

[MESSAGES CONTROL]
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        invalid-name,
        # assume platform is Linux which defaults to UTF-8
        unspecified-encoding,
        line-too-long,
        too-many-nested-blocks,
        too-many-branches,
        duplicate-code

[FORMAT]
expected-line-ending-format=LF
indent-after-paren=2
indent-string='  '
